/* Font style Lato  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import url("https://coralui.netlify.app/components/coral-ui.css");
@import url("https://coralui.netlify.app/components/reset.css");

/* Theme Colors  */
:root {

  --color-foreground: #111111;
  --color-accents-one: #292929;
  --color-accents-two: #464646;
  --color-accents-three: #646464;
  --color-accents-four: #818181;
  --color-accents-five: #9e9e9e;
  --color-accents-six: #dcdcdc;
  --color-background: #fafafa;

  --rose-primary-700: #881337;
  --rose-primary-600: #9f1239;
  --rose-primary-500: #be123c;
  --rose-primary-400: #e11d48;
  --rose-primary-300: #f43f5e;
  --rose-primary-200: #fda4af;
  --rose-primary-100: #fecdd3;

  --rose-seconday-700: #991b1b;
  --rose-seconday-600: #b91c1c;
  --rose-seconday-500: #dc2626;
  --rose-seconday-400: #ef4444;
  --rose-seconday-300: #f87171;
  --rose-seconday-200: #fca5a5;
  --rose-seconday-100: #fecaca;
  
  --pink: #831843;


  --footer-bg: #222222;


  --12-px: 0.75rem;
  --14-px: 0.875rem;
  --16-px: 1rem;
  --22-px: 1.375rem;
  --24-px: 1.5rem;
  --28-px: 1.75rem;
  --32-px: 2rem;
  --40-px: 2.5rem;
  --42-px: 2.625rem;
  --48-px: 3rem;
  --56-px: 3.5rem;
  --60-px: 3.75rem;



  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;


  --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logo {
  width: 7.5rem;
}


.h1-48 {
  font-size: var(--48-px);
}

.h1-60 {
  font-size: var(--60-px);
}

.h2 {
  font-size: var(--32-px);
}

.h3 {
  font-size: var(--28-px);
}

.p {
  font-size: var(--14-px);
}


.app {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: 'Lato', sans-serif;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.hl-rose {
  color: var(--rose-primary-700);
}


.btn {
  max-width: max-content;
}

.btn-disabled {
  cursor: not-allowed;
}

.btn-pink {
  background-color: var(--pink);
  color: var(--color-background);
}

.btn-pink-secondary {
  color: var(--pink);
  border: 1px solid var(--pink);
}
